bitsandbytes
chromadb
colorama
einops
elasticsearch
en-core-web-sm
exllama
exllamav2
gguf
google-cloud-logging
gpt-engineer
gpt4all
gradio
greenlet
grpcio-status
httptools
jaraco.text
jq
langchain-community
langchainhub
llama-cpp-python
optimum
peft
pip-chill
pip-tools
pipreqs
pycairo
pygobject
pymemgpt
python-hcl2
pywatchman
rich
sentence-transformers
shellingham
tensorboard
tfparse
tomli
torch-grammar
torchaudio
uvloop
wandb
watchfiles
